body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}

.main-head {
    margin-top: 5.5em;
    background-image: url(../../../contents/banners/img2.jpg);
    text-align: center;
    color: white;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}
hr{
  border-style: solid;
  border-color: yellow;
  border-width: 1px;

}
.alogo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-right: 40px;
  padding-top: 40px;
}
.intro-heading {
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
.intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
}
.light-text {
  text-align: center;
  margin-top: 2em;
    font-family: 'Montserrat';
  font-style: italic;
  font-size: 1.1rem;
  color:   #6d6d6d ;
}
.info-tex {
    margin-top: 1em;
    font-family: 'Montserrat';
    line-height: 1.5;
    text-align: center;
    font-size: 1.3rem;
    color: #212529;
}
.info-text {
    margin-top: 2em;
    font-family: 'Montserrat';
    line-height: 1.5;
    text-align: center;
    font-size: 1.3rem;
    color: #212529;
}
.impact {
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: 700;
    font-family: 'Montserrat'

}
.sm{
  font-size: 40px;
  margin-top: 60px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: 450;
  font-family: 'Montserrat'
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

main {
  width: 500px;
  margin: 10px auto;
  padding: 10px 20px 30px;
  background: #FFF;
  box-shadow: 0 3px 5px rgba(0,0,0,0.2);
}
* {
box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
position: relative;
}

/* Hide the images by default */
.mySlides {
display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
padding: 16px;
margin-top: -50px;
color: white;
font-weight: bold;
font-size: 20px;
border-radius: 0 3px 3px 0;
user-select: none;
-webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
background-color: yellow;
}

/* Number text (1/3 etc) */
.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

/* Container for image text */
.caption-container {
text-align: center;
background-color: #222;
padding: 2px 16px;
color: white;
}

.row:after {
content: "";
display: table;
clear: both;
}


.row {
align:center;
display: flex;
flex-flow: row;
}

/* Add a transparency effect for thumnbail images */
.demo {
opacity: 0.6;
}

.active,
.demo:hover {
opacity: 1;
}
.form{
    border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
input[type=text]:focus {
background-color: #FFFF99;
}
input[type=email]:focus {
background-color: #FFFF99;
}

.btn{
  border-color: yellow;
background-color: yellow;
}