


.xd{

width: 110%;
/* position:absolute; */
top: 0;
left: 0;
z-index: -50;
padding:0px:
}
.xd1{
    font-family:'Montserrat';
	position: absolute;
	  z-index: 1; /* The z-index should be higher than Google Maps */
	  width:30%;
	  margin: 5%;
	  padding: 20px;
	  background: #A2CED1;
	  height: 55%;
	  opacity:0.9 ; /* Set the opacity for a slightly transparent Google Form */
	  color: white;
	   border:2px solid #EAF2F3;
}
.xd2{
    font-family:'Montserrat';
	position:inherit;
	  z-index: 1; /* The z-index should be higher than Google Maps */
	  width: 100%;
	  margin: 100%;
	  padding: 10px;
	  height: auto;
	  opacity:0.9 ; /* Set the opacity for a slightly transparent Google Form */
	  background: white;
}
.xd3{
    font-family:'Montserrat';
	  position: absolute;
	  z-index: 10; /* The z-index should be higher than Google Maps */
	  width: 30%;
	  margin-top: 5%;
	  margin-left: 65%;
	  background: #A2CED1;
	  padding: 20px;
	  height: 55%;
	  opacity:0.9; /* Set the opacity for a slightly transparent Google Form */
	  color: white;
	  border:2px solid #EAF2F3;
}


#message{
    font-family:'Montserrat';



			text-align:center-left;
			word-wrap:break-word;

			color:#85929E;

		}









#contatti{
    font-family:'Montserrat';
  background-color: #A2CED1;
  letter-spacing: 2px;
  }
#contatti a{
    font-family:'Montserrat';
  color: #fff;
  text-decoration: none;
}


@media (max-width: 575.98px) {

  #contatti{margin-bottom: 230%;}
  #contatti .maps iframe{
      font-family:'Montserrat';
    width: 100% !important;
    height: 320%  ;
  }
	.xd1{
	    font-family:'Montserrat';
		float: left;
		height: 75%  ;
		margin-left: 15%  ;
		width: 80%
	}
	.xd2{
	    font-family:'Montserrat';
		float: left  ;
	}
	.xd3{
	    font-family:'Montserrat';
		margin-left: 15%  ;
		margin-top: 230%  ;
		width: 80%  ;
		height: 65%  ;
	}
	.backside{
	    font-family:'Montserrat';
		width: 90%
	}
 }


@media (min-width: 576px) {

   #contatti{padding-bottom: 800px;}

   #contatti .maps iframe{
       font-family:'Montserrat';
     width: 100%;
     height: 100%;}

 }

@media (min-width: 768px) {

  #contatti{padding-bottom: 350px;}

  #contatti .maps iframe{
      font-family:'Montserrat';
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 992px) {
  #contatti{margin-bottom: -15%;}

   #contatti .maps iframe{
       font-family:'Montserrat';
     width: 100%;
     height: 120%;
   }
}


#author a{
    font-family:'Montserrat';
  color: #fff;
  text-decoration: none;

}


#team {
    background: #eee !important;
}

.btn-primary:hover,
.btn-primary:focus {
    font-family:'Montserrat';
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}



section {
    padding: 60px 0;
}

section .section-title {
    font-family:'Montserrat';
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    font-family:'Montserrat';
    border: none;
    background: #ffffff;
}

.image-flip {
  padding: 0;
  margin: 0;
  height: 100% !important;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    font-family:'Montserrat';
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    font-family:'Montserrat';
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    font-family:'Montserrat';
    padding: 0;
    margin: 0;
    height: 100%;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
    
}

.frontside {
    font-family:'Montserrat';
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
    padding: 0;
    height: 100% !important;
    margin:0% 5% 0% 5%;
}

.backside {
    font-family:'Montserrat';
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    height: 100% !important;
    margin: 0% 5% 0% 5%;

    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.main_part{
    font-family:'Montserrat';
  padding: 0px;
  margin: 0px;
}

.a{
    font-family:'Montserrat';
	background-color:#FAD75D;
	padding: 0;
	margin: 0;
	height: 100% !important;}

.b{
    font-family:'Montserrat';
    background-color:#696B70;
    padding: 0;
    margin: 0;
    height: 100% !important;
}
.frontside,
.backside {
    font-family:'Montserrat';
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
}

.backside .card a {
    font-family:'Montserrat';
    font-size: 11px;
    color: #007b5e !important;
}

.frontside .card .card-text,
.backside .card .card-text {
    font-family:'Montserrat';
    color: black;
	font-size:15px;
}

.frontside .card .card-body img {
    font-family:'Montserrat';
    width: 200px;
   /* height:200px;*/
    border-radius: 50%;
}
