.wrapper {
  display: flex;
  position: relative;
}

.wrapper .sidebar {
  /* padding-top: 20px; */

  width: 350px;
  height: 100vh;
  background: #4b4276;
  position: sticky;
  top: 0 !important; 
  left: 0;
}

.wrapper .sidebar h2 {
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  margin: 30px 0;
}

.wrapper ul {
  list-style: none;
}

.wrapper .sidebar ul li {
  text-align: center;
  padding: 15px 10px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.wrapper .sidebar ul a {
  text-decoration: none;
  color: #bdb8d7;
  display: block;
}

.wrapper .sidebar ul li:hover {
  background-color: #594f8d;
}

.wrapper .sidebar ul li:hover {
  color: #ffffff
}

.wrapper .sidebar .social_media {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.wrapper .sidebar .social_media a {
  display: block;
  width: 40px;
  background: #594f8d;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #bdb8d7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.main_content {
  width: 100%;
  padding: 20px;
  padding-bottom: 40px;
}

.main_content .header {
  padding: 20px;
  background: #840975;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
}


@media (max-height: 500px) {
  .social_media {
    display: none !important;
  }
}

@media (max-width:900px) {
  .wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
  }
  .wrapper .sidebar {

    width: 100vw !important;
    position: relative !important;
    top: 0rem !important;
    height: fit-content !important;
  }
}



/* Members.css */

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 1;
}

.dropdown-content li {
  border-radius: 5px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.sidebar.collapsed {
  width: 0px;
}


.hamburger {
  position: fixed;
  top: 120px;
  left: 30px;
  z-index: 99;
  width: 50px;
  height: 50px;

  border-radius: 50%;
  /* background-color: white; */
  border: 2px solid black;
  backdrop-filter: blur(2px) !important;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.15s ease-in 0s;
  font-size: 18px;
  font-weight: 600;
}

.hamburger a{
  text-decoration: none;
  color: black;
}
.hamburger:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}
.sidebar.collapsed .everything {
  display: none;
}

.hamburger:hover a {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
