/* New profile card */
/**** Sass Variables ****/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #333;
    /* overflow-x: hidden; */

}

#pr_card .container {
    max-width: 900px;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
}

#pr_card .card-wrapper {
    width: 400px;
    height: 500px;
    position: relative;
}

#pr_card .card {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 350px;
    height: 450px;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    transition: 0.5s;
}

#pr_card .card .card-image {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #000;
    transition: 0.5s;
}

#pr_card .card:hover img {
    opacity: 0.4;
    transition: 0.5s;
}

#pr_card .card:hover .card-image {
    transform: translateY(-100px);
    transition: all 0.9s;
}

/**** Social Icons *****/
#pr_card .social-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    display: flex;
}

#pr_card .social-icons li {
    list-style: none;
}

#pr_card .social-icons li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #fff;
    font-size: 23px;
    color: #333;
    font-weight: bold;
    margin: 0 6px;
    transition: 0.4s;
    transform: translateY(200px);
    opacity: 0;
}

#pr_card .card:hover .social-icons li a {
    transform: translateY(0px);
    opacity: 1;
}

#pr_card .social-icons li a:hover {
    background: #000;
    transition: 0.2s;
}

#pr_card .social-icons li a:hover .fab {
    color: #fff;
}

#pr_card .social-icons li a .fab {
    transition: 0.8s;
}

#pr_card .social-icons li a .fab:hover {
    transform: rotateY(360deg);
    color: #fff;
}

#pr_card .card:hover li:nth-child(1) a {
    transition-delay: 0.1s;
}

#pr_card .card:hover li:nth-child(2) a {
    transition-delay: 0.2s;
}

#pr_card .card:hover li:nth-child(3) a {
    transition-delay: 0.3s;
}

#pr_card .card:hover li:nth-child(4) a {
    transition-delay: 0.4s;
}

/**** Personal Details ****/
#pr_card .details {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
    width: 100%;
    height: 120px;
    z-index: 1;
    padding: 10px;
}

#pr_card .details h2 {
    margin: 30px 0;
    padding: 0;
    text-align: center;
}

#pr_card .details h2 .job-title {
    font-size: 1rem;
    line-height: 2.5rem;
    color: #333;
    font-weight: 300;
}

#pr_card .jane {
    position: absolute;
    bottom: -120px;
    left: 0;
    opacity: 0;
    background: #fff;
    width: 100%;
    height: 120px;
    z-index: 3;
    padding: 10px;
    transition: 0.4s;
}

#pr_card .profile-two .social-icons li a {
    border-radius: 50%;
}

#pr_card .card:hover .profile-img--two {
    transform: rotateY(180deg);
}

#pr_card .card:hover .jane {
    bottom: 0;
    left: 0;
    transition-delay: 0.5s;
    opacity: 1;
}





/* /////////////////////////////////Achivements */
#ach .row1 {
    overflow: hidden;

}






/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
#ach flip-card {
    background-color: transparent;
    background-image: none;
    width: 300px;
    height: 450px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */

}

/* This container is needed to position the front and back side */
#ach .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
#ach .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    background-image: none;
}

/* Position the front and back side */
#ach .flip-card-front,
#ach .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

@media(min-width:1200px) {
    #ach .c-1 {
        max-width: 80%;
    }
}


/* Style the front side (fallback if image is missing) */
#ach .flip-card-front {

    color: black;
    opacity: 85%;

}

#ach .h-1 {
    font-size: 2rem;
}

/* Style the back side */
#ach .flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
}

#ach .p-2 {
    font-size: 1rem;
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
    font-weight: lighter;
    margin-top: 2%;
}

#ach .h-2 {
    font-size: 2rem;
    font-weight: lighter;
    margin-top: 5%;
    text-align: left;
    margin-left: 6%;
}

#ach .btn3 {

    height: 50px;
    width: 130px;
    border-radius: 25px;
    background-color: white !important;
    border-color: white !important;
    align-items: inherit;


}

#ach .btn4 {

    height: 50px;
    width: 160px;
    border-radius: 25px;
    background-color: white !important;
    border-color: white !important;
    align-items: inherit;


}


#ach .btn1 {

    height: 50px;
    width: 130px;
    border-radius: 25px;
    background-color: #231F20 !important;


}

#ach .btn2 {

    min-height: 50px;
    min-width: 130px;
    border-radius: 25px;
    color: #F36A36 !important;
    background-color: white !important;
    padding: none;
    background: transparent;

    -webkit-background-size: 100%;
    -o-background-size: 100%;
    -moz-background-size: 100%;
    -ms-background-size: 100%;
    -khtml-background-size: 100%;
    background-size: 100%
}

#ach .bottom-div {
    opacity: 85%;
}

@media(min-width:500px) {
    #ach .row-bottom {
        height: auto;
        margin-top: auto;
        margin-bottom: auto;
        background-position-y: inherit;
    }

    #ach .bottom-div {
        opacity: 85%;

    }
}