body
{
    margin: 0;
    padding: 0;
    font-family: Nunito, sans-serif;

}
.row{
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.container-fluid{
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.fix{
  position: -webkit-sticky;
  position: sticky;
  top:150px;
}
.top
{
height:600px;
width: 100%;
background-image: url("1.jpg");
background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 
  }

.toptext{
    padding-top: 230px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 80px;
}

/*.list1{
    margin-left: 20px;
     width: 340px;
} */

.large1{
    font-family: Nunito, sans-serif;;
    color:white;
    font-size: 17px;
    font-family: Montserrat;

}
.large2{
    font-size: 30px;
    font-family: Nunito, sans-serif;;
    color:grey;
    font-family: Montserrat;
    ;
}
.color1{
  /*  background-image: linear-gradient(to top, rgba(245, 246, 252, 0.5), #74e09a),url(https://miro.medium.com/max/875/0*DyiyTwLls2OI6Byh);*/
background-color: #74e09a;
    object-fit: cover;
    color:rgb(70, 70, 70);
}
.color2{
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.5), #cc9b6d),url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjDlvDoJmRLnEdaXOhr2P0s-EN-ux4qILu3Q&usqp=CAU);
    object-fit: cover;
    color:rgb(70, 70, 70)
}
.color3{
    background-image: linear-gradient(to top, rgba(245, 246, 252, 0.5), #f9ee34),url(https://i2.wp.com/psychlearningcurve.org/wp-content/uploads/2017/05/kindergarten-parents-big.jpg?fit=800%2C544);
    object-fit: cover;
    background-color: #f9ee34;
    color:rgb(70, 70, 70)
}
.color4{
    background-color: #9D8BC5;
    color:rgb(70, 70, 70)
}
.color5{
    color:#4aa96c;
    color:rgb(70, 70, 70)
}
.color6{
  /*background-image: linear-gradient(to top, rgba(245, 246, 252, 0.5), #05A1C7),url(https://i2.wp.com/psychlearningcurve.org/wp-content/uploads/2017/05/kindergarten-parents-big.jpg?fit=800%2C544);*/
  object-fit: cover;
  background-color:#05A1C7;
  color:rgb(70, 70, 70)
}
.color7{
    color:#d8ce12;

}
.color8{
    background-color:#73C38E;
    color:rgb(70, 70, 70)

}
.color9{
    background-color:#d45120;
    color:rgb(70, 70, 70)
}

.color10{
  background-color:#93d177;
  color:rgb(70, 70, 70)
}

.color11{
  background-color:#669bc9;
  color:rgb(70, 70, 70)
}

hr{
    border-style:none;
    border-top-style: dotted;
    border-width: 7px;
    width: 7%;
    border-color:#ebe131;
}

.team-area{
  display: flex;
  width: 100%;
  justify-content: center;
}

.single-team{
height: 250px;
/* height: 60vh; */
padding: 10px;
background: #fff;
position: relative;
display: flex;
justify-content: center;
text-align: center;
align-items: flex-end;
transition: .7s ease-out;
margin-right: 10px;
margin-left: 10px;
margin-top: 10px;

}

@media screen and (max-width: 400px){
    .single-team{
      height: 39vh;
      width: 75vw;
    }
}

.single-team:hover{
  transform: translateY(8px);
}
.single-team:hover:before{
  opacity: 1;
}
.single-team:hover .team-text{
  opacity: 1;
  transform: translateY(0);
}



.prayas:before{
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #74e09a, transparent);
  z-index: 2;
  transition: 0.5s;
  opacity: 0;
}

.light:before{
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #d6ce31, transparent);
  z-index: 2;
  transition: 0.5s;
  opacity: 0;
}

.gb:before{
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #9D8BC5, transparent);
  z-index: 2;
  transition: 0.5s;
  opacity: 0;
}

.ac:before{
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #d45120, transparent);
  z-index: 2;
  transition: 0.5s;
  opacity: 0;
}

.edu:before{
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #05A1C7, transparent);
  z-index: 2;
  transition: 0.5s;
  opacity: 0;
}





.single-team img{
  max-width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}



.single-team .team-text{
  position: relative;
  z-index: 3;
  color: #fff;
  opacity: 0;
  transform: translateY(32px);
  transition: 0.5s;
}
.team-text h2{
  margin: 0;
}
.team-text a{
  width: 30px;
  height: 30px;
  /* display: inline-block; */
  display: none;
  margin: 0 5px;
  text-decoration: none;
}
.team-text a i{
  color: #fff;
  padding: 6px 8px;
}

.heading{
    color:black;
    padding-bottom: 8px;
    text-align: center;
    font-family: Nunito, sans-serif;
}
.inner-text{
    color:rgb(70, 70, 70)
}

.nav-pills>a.active{

    background-color: #f0ecec !important;
   }

img{
  max-width: 100%;
  width: inherit;
}
