.jvm-header-content {

    background-image: url("1.jpg");
    width: 100%;
    height: 60vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid black;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    overflow: hidden;


}

span {
    color: rgb(248, 231, 0);
}

.jvm-header-content h2 {
    font-size: 6vmin;
}


.jvm-header-content h1 {
    font-size: 9vmin;
}


@media (max-width:400px) {
    .jvm-header-content h2 {
        font-size: 7vmin;
    }

    .jvm-header-content h1 {
        font-size: 7vmin;
    }

    span {
        color: yellow;
    }

}



.jvm-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.jvm-title h1 {

    color: rgb(149, 105, 82);
    padding: 2px;
    margin: 4px;
    font-size: 5.5vmin;

}

.jvm-section-content {
    width: 100%;
    min-height: 200px;
    height: auto;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

.jvm-section-content-1 {
    width: 30%;
    background-color: blanchedalmond;
    height: auto;
}

.jvm-section-content-1 img {
    width: 160px;
    height: 160px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.jvm-section-content-1 p {
    color: black;
    font-size: 3vmin;
    font-weight: 500;
    padding-left: 3px;
    padding-right: 3px;
    margin-bottom: 3px;
}


.jvm-section-content-2 {
    width: 30%;
    height: auto;
    background-color: blanchedalmond;
}

.jvm-section-content-2 img {
    width: 160px;
    height: 160px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.jvm-section-content-2 p {
    color: black;
    font-size: 3vmin;
    font-weight: 500;
    padding-left: 3px;
    padding-right: 3px;
    margin-bottom: 3px;
}


.jvm-section-content-3 {
    width: 30%;
    height: auto;
    background-color: blanchedalmond;
}

.jvm-section-content-3 img {
    width: 160px;
    height: 160px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.jvm-section-content-3 p {
    color: black;
    font-size: 3vmin;
    font-weight: 500;
    padding-left: 3px;
    padding-right: 3px;
    margin-bottom: 3px;
}

.jvm-lecture {
    padding: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.jvm-heading h2 {
    color: rgb(149, 105, 82);
    font-size: 5vmin;
    margin: 3px;
}


.lecture-container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 2px;

}

.jvm-lecture-content {
    width: 95%;
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}

.lecture-img {
    width: 40%;
}

.lecture-img img {
    margin-left: 2px;
    width: 60%;
    max-height: 250px;
}

.lecture0_C {
    width: 60%;
}

.lecture0_C p {
    color: black;
    padding: 2px;
    font-weight: 450;
    font-size: 3vmin;
}

.event_detail_heading {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 5px;
    margin-top: 20px;

}

.gallery {
    border: 4px solid #ccc;
    width: 30%;
    margin: 5px;
    background-color: antiquewhite;
}

@media screen and (max-width:400px) {
    .gallery {
        border: 4px solid #ccc;
        width: 100%;
        margin: 5px;
    }
}

@media (max-width:800px) and (min-width:400px) {
    .gallery {
        border: 4px solid #ccc;
        width: 48%;
        margin: 4px;
    }
}

.event_detail_heading h1 {
    color: rgb(149, 105, 82);
}

.gallery img {
    width: 100%;
    height: auto;

}

.gallerydetail {
    padding: 15px;
    text-align: center;
    color: black;
    font-weight: 500;
    font-size: 3.5vmin;

}

.eventgallery {

    padding: 5px 10px;
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;


}




.Survey {
    margin: 10px;
}

.Survey h1 {

    text-align: center;
    color: rgb(85, 34, 34);
    margin-bottom: 15px;
}

.Surveystats {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}

.stats {

    border: 2px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    width: 32%;
    background-color: rgb(206, 206, 50);
    margin: 2px;
}

.stats h1 {
    text-align: center;
}

.stats p {
    text-align: center;
    margin-bottom: 4px;
}


@media screen and (max-width:600px) {
    .Surveystats {
        display: block;
        flex-wrap: none;
    }

    .stats {

        border: 2px solid #ccc;
        border-radius: 5px;
        margin-top: 10px;
        width: 100%;
        background-color: rgb(206, 206, 50);
    }

    .stats h1 {
        text-align: center;
    }

    .stats p {
        text-align: center;
        margin-bottom: 4px;
    }
}

@media (max-width:800px) and (min-width:600px) {
    .Surveystats {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-evenly;
    }

    .stats {

        border: 2px solid #ccc;
        border-radius: 5px;
        margin-top: 10px;
        width: 48%;
        background-color: rgb(206, 206, 50);
        margin: 2px;
    }


}