<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jagriti Vidya Mandir</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <header>
      <div class="jvm-header-content">
        <h2>
          <span>G</span>opali <span>Y</span>outh <span>W</span>elfare
          <span>S</span>ociety
        </h2>
        <h1><span>J</span>agriti <span>V</span>idya <span>M</span>andir</h1>
      </div>
    </header>

    <section>
      <div class="jvm-details">
        <div class="jvm-title">
          <h1>JVM</h1>
        </div>

        <div class="jvm-section-content">
          <div class="jvm-section-content-1">
            <img src="school_logo-removebg-preview.png" alt="not found" />
            <p>
              JVM was established in April, 2008. It's Initiative of Gopali
              Youth Walefare Society. Its Main motto is To educate each and
              every child for a better tommorow .
            </p>
          </div>
          <div class="jvm-section-content-2">
            <div class="jvm_details2">
              <img src="child_logo-removebg-preview.png" alt="not found" />
              <p>
                It is located in Tangasool village, 1.5 kilometers from Salua
                Air Force Station which in turn is 5 kilometers away from IIT
                campus.
              </p>
            </div>
          </div>
          <div class="jvm-section-content-3">
            <img src="teachers_logo-removebg-preview.png" alt="not found" />
            <p>
              At present, school is up to 5th standard and 240+ students are
              enrolled from nursery to 5th standard and 11+ teachers.
            </p>
          </div>
        </div>
      </div>
    </section>

    <div class="jvm-lecture">
      <div class="jvm-heading">
        <h2>Future Plan</h2>
      </div>

      <div class="lecture-container">
        <div class="jvm-lecture-content">
          <div class="lecture-img">
            <img src="futureplan.png" alt="#" />
          </div>

          <div class="lecture0_C">
            <p>
              JVM aspires to be a residential full-fledged school for students
              of under privileged families offering a variety of courses at +2
              level, vocational training and career guidance. We seek to take
              Jagriti Vidya Mandir to beyond its current primary level to
              complete school cum hostel Catering to the needs of over 500
              students. The facility will not only provide education up to 12th
              grade, but will also take responsibility for ensuring that its
              students settle in their professional or educational lives before
              they leave.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Event details  -->

    <div class="Event_detail">
      <div class="event_detail_heading">
        <h1>Events</h1>
      </div>
      <!-- 1 -->
      <div class="eventgallery">
        <div class="gallery">
          <a href="event1.avif"
            ><img src="event1.avif" width="300" height="200"
          /></a>
          <div class="gallerydetail">Aashayien</div>
        </div>
        <!-- 2 -->

        <div class="gallery">
          <a href="event1.avif"
            ><img src="event1.avif" alt="" width="300" height="200"
          /></a>
          <div class="gallerydetail">Aashayien</div>
        </div>
        <!-- 3 -->

        <div class="gallery">
          <a href="event1.avif"
            ><img src="event1.avif" alt="" width="300" height="200"
          /></a>
          <div class="gallerydetail">Aashayien</div>
        </div>
        <!-- 4 -->

        <div class="gallery">
          <a href="event1.avif"
            ><img src="event1.avif" alt="" width="300" height="200"
          /></a>
          <div class="gallerydetail">Aashayien</div>
        </div>
        <!-- 5 -->

        <div class="gallery">
          <a href="event1.avif"
            ><img src="event1.avif" alt="" width="300" height="200"
          /></a>
          <div class="gallerydetail">Aashayien</div>
        </div>
        <!-- 6 -->

        <div class="gallery">
          <a href="event1.avif"
            ><img src="event1.avif" alt="" width="300" height="200"
          /></a>
          <div class="gallerydetail">Aashayien</div>
        </div>
      </div>
    </div>


    <div class="Survey">
        <h1>Survey Stats</h1>
        <div class="Surveystats">
         <div class="stats">
          <h1>100</h1>
           <p>people attend the computer workshop</p>
         </div>    
         <div class="stats">
          <h1>100</h1>
           <p>people attend the computer workshop</p>
         </div>    
         <div class="stats">
          <h1>100</h1>
           <p>people attend the computer workshop</p>
         </div>    
         <div class="stats">
          <h1>100</h1>
           <p>people attend the computer workshop</p>
         </div>    
         <div class="stats">
          <h1>100</h1>
           <p>people attend the computer workshop</p>
         </div>    
         <div class="stats">
          <h1>100</h1>
           <p>people attend the computer workshop</p>
         </div>    
         <div class="stats">
          <h1>100</h1>
           <p>people attend the computer workshop</p>
         </div>    
         <div class="stats">
          <h1>100</h1>
           <p>people attend the computer workshop</p>
         </div>    
         <div class="stats">
          <h1>100</h1>
           <p>people attend the computer workshop</p>
         </div>    
        </div>
        </div>
       
  </body>
</html>
