
.timeline-container .timeline-heading {
    display: grid;
    place-items: center;
}

.timeline-container .timeline-heading h1 {
    margin: 10px 0;
    font-weight: 900;
    text-align: center;
    font-size: 2rem;
}

.timeline-container .timeline-heading .heading-underline {
    border: solid #fed136;
    width: 9rem;
    background-color: #fed136;
    margin-bottom: 2rem
}


.main-timeline:after {
    content: '';
    display: block;
    clear: both;
}

.timeline-container {
    width: 70%;

    margin: auto;
}

.main-timeline .timeline {
    width: calc(50% + 1px);
    padding: 0 40px 0 0;
    float: left;
}

.main-timeline .timeline-content {
    background: #fff;
    padding: 25px 25px 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 0 100px;
    border: 1px solid #DDD;
    display: block;
    position: relative;
    z-index: 1;
    text-decoration: none;
}

.main-timeline .title {
    color: #fff;
    /* background-color: #f26a36; */
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    padding: 15px 15px 15px 30px;
    margin: 0 -75px 15px 0;
    border-radius: 0 50px;
    position: relative;
    z-index: 1;
}

.main-timeline .description {
    color: black;
    font-size: 17px;
    letter-spacing: 1px;
    margin: 0 0 10px 30px;
}

.main-timeline .timeline-year {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: rgb(4, 163, 195) ;
    text-align: center;
    width: 100px;
    margin: 1rem auto 0;
    padding: 5px 0;
    border-radius: 50px;
}

.main-timeline .timeline:nth-child(even) {
    float: right;
    padding: 0 0 0 40px;
    margin: 0 0 0 10px;
}

.main-timeline .timeline:nth-child(even) .timeline-content {
    border-radius: 100px 0;
}

.main-timeline .timeline:nth-child(even) .title {
    padding: 15px 15px 15px 100px;
    margin: 0 0 15px -75px;
    border-radius: 50px 0;
}


@media screen and (max-width:767px) {

    .main-timeline .timeline,
    .main-timeline .timeline:nth-child(even) {
        width: 100%;
        margin: 0 0 30px;
    }
}

@media screen and (max-width:479px) {
    .main-timeline .timeline {
        padding: 0 20px 0 0;
    }

    .main-timeline .timeline:nth-child(even) {
        padding: 0 0 0 20px;
    }

    .main-timeline .timeline-content {
        padding: 15px;
    }

    .main-timeline .title {
        margin: 0 -45px 15px 0;
    }

    .main-timeline .timeline:nth-child(even) .title {
        margin: 0 0 15px -45px;
        padding-left: 75px;
    }
    .timeline-container{
      width: 90% !important;
       
    }
}
