/* Navbar.css */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #131921;
    color: #fff;
    padding: 0 50px;
    height: 110px;
    width: 100%;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.nav_space {
    height: 110px;
}

.nav_space {
    height: 110px;
}

.logo {
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo a {
    text-decoration: none;
    color: white;
}

nav .logo img {
    height: 100px;
    margin: 5px 10px;
}

/* Hamburger menu styles */
.menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 30px;
    transition: transform 0.3s ease-in-out;
}

.menu-toggle.open {
    transform: rotate(180deg);
}

.nav-links {
    list-style: none;
    display: flex;
    margin: auto 0px;
    font-size: 15px;
}

.nav-links li {
    margin-right: 30px;
    text-transform: uppercase;
    transition: all 0.2s ease-in;
    /* font-weight: 600; */
    letter-spacing: 0.4px;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.nav-links li:hover {
    color: #fed136;
}

#donatebtn {
    transition: all 0.2s ease-out;
}

#donatebtn a {
    background-color: #fed136;
    border-radius: 5px;
    color: #000;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 11px 14px;
    margin: auto 0px;
    transition: all 0.2s ease-out;
    height: 40px;
}

#donatebtn:hover {
    transform: scale(1.04);
    box-shadow: 0px 0px 10px 0px #73C48F;
}



.HiMenu {
    scale: 1.1;
}

@media (max-width: 1024px) {
    nav {
        height: 90px;
    }

    .logo {
        font-size: 25px;
        letter-spacing: 0px;
    }

    nav .logo img {
        height: 90px;
    }

    .nav-links {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: #ddd;
        line-height: 30px;
        margin: -7px 0px;
        padding: 20px 10px;
        position: fixed;
        top: 90px;
        right: 0;
        min-width: 70%;
        min-height: 50vh;
        text-align: center;
        transform: translateX(100%);
        transition: transform 0.3s ease-out;
        z-index: 999;
        border-radius: 10px 0px 0px 10px;
    }

    .nav_space {
        height: 90px;
    }

    .nav-links.show {
        transform: translateX(0);
        transition: transform 0.2s ease-out;
    }

    .menu-toggle {
        display: block;
        margin-bottom: 5px;
    }

    .nav-links {
        line-height: 50px;
        font-size: 18px;
        letter-spacing: 1px;
    }

    .nav-links li {
        font-weight: 600;
        color: #161e1e;
        margin: 0px 10px;
        
        text-transform: uppercase;
        text-shadow: 2px 2px 5px #0000004f;
        border-radius: 10px;
    }

    .nav-links li:hover {
        background-color: #fed336;
        color: #000;
    }

    #donatebtn a{
        background-color: transparent;
    }

    #donatebtn:hover {
        transform: none;
    }
}

@media screen and (max-width: 767px) {
    nav {
        padding: 0 10px;
        height: 69px;
    }

    .nav_space {
        height: 69px;
    }

    .logo {
        font-size: 15px;
        letter-spacing: 0px;
    }

    .menu-toggle,
    .HiMenu {
        font-size: 20px;
    }

    nav .logo img {
        height: 44px;
    }

    .nav-links {
        top: 69px;
    }
}