.nam {
    /* border: solid red; */
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
}

.line{
    height: 6px;
    width: 300px;
    margin-top: 10px;
    background-color: #fed136;
}

@media (max-width:385px) {
    .nam h2{
        font-size: 1.27em;
    }
}