<!DOCTYPE html>
<html>
<!-- <%- include ('../layouts/hostel_sustainability_header') %> -->

<head>

 
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>Welcome to GYWS-Donate LiGHT</title>
    <!-- Tell the browser to be responsive to screen width -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <!-- <% if(typeof article !=='undefined' && article !='' ) { %>
        <meta name="description" content="<%=article.meta_description%>">
        <meta name="keywords" content="<%=article.meta_keywords%>">

        <meta property="og:title" content="<%=article.title%>">
        <meta property="og:description" content="<%=article.meta_description%>">
        <meta property="og:image" content="<%=featured_image%>">
        <meta property="og:url" content="<%=article.meta_description%>">

        <meta name="twitter:title" content="<%=article.title%>"">
        <meta name=" twitter:description" content="<%=article.meta_description%>">
        <meta name="twitter:image" content="<%=featured_image%>">
        <meta name="twitter:card" content="summary_large_image">
        <% } %> -->


    <link href='/public/gyws/assets/vendor/bootstrap/css/bootstrap.min.css' rel="stylesheet" type="text/css">
    <link href='/public/gyws/assets/vendor/fontawesome-free/css/all.min.css' rel='stylesheet' type='text/css'>
    <!-- <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
        type='text/css'> -->
    <!-- <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'> -->
    <!-- <link href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css' rel='stylesheet'> -->
    <!-- <link href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css' rel='stylesheet'> -->
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> -->
    <!-- <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css"> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/venobox/1.9.1/venobox.min.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
        type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'> -->
    <!-- <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" /> -->

    <!-- <link href='/public/gyws/assets/css/maint.css' rel="stylesheet" type="text/css"> -->
    <link href='/public/gyws/assets/css/au.css' rel="stylesheet" type="text/css">
    <!-- <link href='/public/gyws/assets/css/contact.css' rel="stylesheet" type="text/css"> -->
    <!-- <link href='/public/gyws/assets/css/members.css' rel="stylesheet" type="text/css"> -->
    <!-- <link href='/public/gyws/assets/css/support.css' rel="stylesheet" type="text/css"> -->
    <!-- <link href='/public/gyws/assets/css/map.css' rel="stylesheet" type="text/css"> -->
    <!-- <link href='/public/gyws/assets/css/initiatives.css' rel="stylesheet" type="text/css"> -->
    <!-- <link href='/public/gyws/assets/css/timeline.css' rel="stylesheet" type="text/css"> -->
    <link href='/public/gyws/assets/css/media-gallery-cards.css' rel="stylesheet" type="text/css">
    <!-- <link href='/public/gyws/assets/css/top.css' rel="stylesheet" type="text/css"> -->
    <!-- <link href='/public/gyws/assets/css/gal.css' rel="stylesheet" type="text/css"> -->
    <!-- <link href='/public/gyws/assets/css/pradon.css' rel="stylesheet" type="text/css"> -->
    <link rel="stylesheet" href="/public/gyws/assets/css/new_website_css/app.css">
    <link rel="stylesheet" href="/public/gyws/assets/css/new_website_css/home/navbar.css">
    <link rel="stylesheet" href="/public/gyws/assets/css/new_website_css/home/style.css">

    <!-- Font awesome cdn -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" /> -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



    <!-- <link href='/public/gyws/assets/css/agency.min.css' rel="stylesheet" type="text/css"> -->
    <!-- <link href='/public/gyws/assets/css/slick.css' rel="stylesheet" type="text/css"> -->
    <!-- <link href='/public/gyws/assets/css/slick-theme.css' rel="stylesheet" type="text/css"> -->
    <!-- <link href='/public/gyws/custom/custom.gyws.css' rel="stylesheet" type="text/css"> -->









    <title>Donate Now</title>
    <style>
        #more {
            display: none;
        }

        #more2 {
            display: none;
        }

        .Light_donate {
            font-family: 'Nunito', sans-serif;
        }
    </style>
</head>



<body>
<!-- 
    <div class="hostel_header">

    </div> -->
    <nav id="mainNav" style="padding-top: 0px;padding-bottom: 0px;"
    class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <span class="navbar-brand navbar-left">
            <a href="#page-top" class="js-scroll-trigger order-md-first order-0">
                <img src="/public/gyws/assets/img/new_website_img/home/logo.png" alt="logohere"
                    class="d-inline-block align-top">
            </a>
        </span>
        <div>
            <h3 style="color: white; font-family: Arial, Helvetica, sans-serif; font-weight:500; padding:0.5rem "
                class="navbar__heading-text">Gopali Youth Welfare Society</h3>
        </div>



        <button type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler navbar-toggler-right">Menu<i class="fas fa-bars"></i></button>
        <div id="navbarResponsive" class="collapse navbar-collapse" style="margin-right:100px">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item"><a href="/" class="nav-link js-scroll-trigger">HOME</a></li>
                <li class="nav-item"><a href="/aboutUs.html" class="nav-link js-scroll-trigger">ABOUT US</a></li>
                <li class="nav-item dropdown"><a id="navbarDropdown" href="" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" class="nav-link">INITIATIVES</a>
                    <div aria-labelledby="navbarDropdown" class="dropdown-menu bg-dark border-0">
                        <a class="dropdown-item x" href="/initiatives.html">Jagriti Vidya Mandir</a>
                        <a class="dropdown-item x" href="https://iprayas.org/">Prayas</a>
                        <a class="dropdown-item x" href="https://light.org.in/">Light</a>
                        <a class="dropdown-item x" href="/covid">COVID-19</a>
                    </div>
                </li>
                <li class="nav-item"><a href="/media.html" class="nav-link js-scroll-trigger">MEDIA</a></li>
                <li class="nav-item"><a href="/members/members2023.html" class="nav-link js-scroll-trigger">MEMBERS</a></li>
                <li class="nav-item dropdown"><a id="navbarDropdown" href="" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" class="nav-link nav__donate">DONATE</a>
                    <div aria-labelledby="navbarDropdown" class="dropdown-menu bg-dark border-0">
                        <a href="/donation/hostel.html" class="dropdown-item x">Hostel Construction</a>
                        <a href="/donation/hostel_sustainability.html" class="dropdown-item x">Hostel Sustainability</a>

                        <a href="/donation/each_jvm.html" class="dropdown-item x">Educate A Child</a>
                        <a href="/donation/LiGHTDonate.html" class="dropdown-item x">LiGHT Donate</a>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</nav>
    <div class="jumbotron Light_donate" style="padding-top: 0; padding-bottom: 0;  margin-top:10%">
        <div class="row">
            <div class="col-md-7 col-sm-12 col-lg-8 mx-auto mr-auto mt-auto mb-auto"
                style="padding : 10px; font-size: 20px;">
                <h1 class="display-5">Fundraiser for daily usage kits distribution in Old-age home:<br>
                    <a href="https://light.gyws.org/center_wardha"
                        style="text-decoration:none; color:black !important;">LiGHT Wardha</a>
                </h1>
                <hr class="my-4">
                <p class="lead">
                    As we all know, elderly individuals living in old age homes often have limited resources and support
                    to
                    meet their daily needs. Therefore, LiGHT Wardha aims to raise funds to provide them with basic
                    necessities such as toiletries, cleaning supplies, and other daily essentials. With your generous
                    contributions, we aim to distribute these kits to several old age homes in our community. The kits
                    will
                    be carefully curated to include items that are most needed and will be customized to cater to the
                    specific requirements of each home.</p>
                <p class="lead">
                    This event will be a great opportunity for us to come together as a community and make a difference
                    in
                    the lives of our elderly population. We believe that by contributing towards this cause, we can
                    bring
                    some comfort and relief to those who are most in need.</p>
                <p class="lead">
                    We encourage you to donate generously and support us in this noble cause. Let&#39;s make a positive
                    impact on the lives of our seniors and show them that they are valued and cherished members of our
                    community. </p>

                <div class="text-center">
                    <form>
                        <script src="https://checkout.razorpay.com/v1/payment-button.js"
                            data-payment_button_id="pl_LSjrB60pFvlrpl" async> </script>
                    </form>
                </div>



            </div>
            <!-- <div class="col-md-5 col-sm-12 col-lg-4 mx-auto mr-auto " style="padding : 10px; font-size: 20px;">
                    <img src="/gyws/assets/img/LiGHT_donate/LiGHT_Akola.png" alt="" style="width:100%">
                </div> -->
        </div>
    </div>


    <div class="jumbotron Light_donate" style="padding-top: 0; padding-bottom: 0">
        <div class="row">
            <div class="col-md-7 col-sm-12 col-lg-8 mx-auto mr-auto mt-auto mb-auto"
                style="padding : 10px; font-size: 20px;">
                <h1 class="display-5">Fundraiser for sports kit:<br>
                    <a href="https://light.gyws.org/center_gwalior_thatipur"
                        style="text-decoration:none; color:black !important;">LiGHT Gwalior Thatipur</a>
                </h1>
                <hr class="my-4">
                <p class="lead">
                    There are many among us who are born with some disabilities and we LiGHT GWALIOR THATIPUR is trying
                    to make those faces happy.
                    We are planning to provide sports kit and organise our flagship event KHELE EHSAAS.
                    By conducting a 'Sport's day' in the campus of Gwalior's only disability school EHSAAS for these
                    special kids.
                    So let's donate with all our hearts and come together in our initiative. Be the part of a CHANGE
                    with us.
                </p>

                <div class="text-center">
                    <span class="razorpay-payment-button svelte-ohbfj8">
                        <a href="https://gopali-youth-welfare-society.danamojo.org/dm/khel-ehsas-7108?utm_source=danamojo&utm_medium=share&utm_campaign=dmMicroSite"
                            class="PaymentButton PaymentButton--dark svelte-ekc7fv"
                            style="background: rgb(5, 161, 199);">
                            <svg width="18" height="20" viewBox="0 0 18 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg" class="svelte-ekc7fv">
                                <path
                                    d="M7.077 6.476l-.988 3.569 5.65-3.589-3.695 13.54 3.752.004 5.457-20L7.077 6.476z"
                                    fill="#fff" class="svelte-ekc7fv"></path>
                                <path d="M1.455 14.308L0 20h7.202L10.149 8.42l-8.694 5.887z" fill="#fff"
                                    class="svelte-ekc7fv"></path>
                            </svg>
                            <div class="PaymentButton-contents svelte-ekc7fv"><span
                                    class="PaymentButton-text svelte-ekc7fv">Donate Now</span>
                                <div class="PaymentButton-securedBy svelte-ekc7fv">Secured by Razorpay</div>
                            </div>
                        </a></span>

                    <!--   <a href="https://gopali-youth-welfare-society.danamojo.org/dm/khel-ehsas-7108?utm_source=danamojo&utm_medium=share&utm_campaign=dmMicroSite">
					<img src="/gyws/assets/img/LiGHT_donate/donationBtn.png" alt="" style="width:200px; background:none">
				</a> -->
                </div>



            </div>
            <!-- <div class="col-md-5 col-sm-12 col-lg-4 mx-auto mr-auto " style="padding : 10px; font-size: 20px;">
                    <img src="/gyws/assets/img/LiGHT_donate/LiGHT_Akola.png" alt="" style="width:100%">
                </div> -->
        </div>
    </div>

    <div class="jumbotron Light_donate" style="padding-top: 0; padding-bottom: 0;">
        <div class="row">
            <div class="col-md-7 col-sm-12 col-lg-8 mx-auto mr-auto mt-auto mb-auto"
                style="padding : 10px; font-size: 20px;">
                <h1 class="display-5">Fundraiser for Hygiene Awareness event in deprived regions:<br>
                    <a href="https://light.gyws.org/center_gwalior_sithouli"
                        style="text-decoration:none; color:black !important;">LiGHT Gwalior Sithouli</a>
                </h1>
                <hr class="my-4">
                <p class="lead">
                    Women&#8217;s hygiene is still considered a taboo subject in most village regions.
                    We, the youth, have to take charge and resolve the issues that have hindered development from
                    long
                    times.
                    To spread the awareness, taking a step further towards Women Empowerment we are going to small
                    villages and small schools to distribute sanitary pads.
                    We (LiGHT Gwalior Sithouli) are raising funds for this noble cause and we need your support to
                    achieve
                    this.
                    Let&#8217;s come together and join us in this initiative.
                    Donate as you wish
                    To fulfil someone's needs.



                </p>

                <div class="text-center">
                    <form>
                        <script src="https://checkout.razorpay.com/v1/payment-button.js"
                            data-payment_button_id="pl_KdcIbiH3cv5sfb" async> </script>
                    </form>
                </div>



            </div>
            <!-- <div class="col-md-5 col-sm-12 col-lg-4 mx-auto mr-auto " style="padding : 10px; font-size: 20px;">
                    <img src="/gyws/assets/img/LiGHT_donate/LiGHT_Akola.png" alt="" style="width:100%">
                </div> -->
        </div>
    </div>

    <div class="jumbotron Light_donate" style="padding-top: 0; padding-bottom: 0;">
        <div class="row">
            <div class="col-md-7 col-sm-12 col-lg-8 mx-auto mr-auto mt-auto mb-auto"
                style="padding : 10px; font-size: 20px;">
                <h1 class="display-5">Benches, Electrical Appliances and Blackboards for the students of DAV TASRA
                    School, Sindri<br>
                    <a href="https://light.gyws.org/center_sindhri"
                        style="text-decoration:none; color:black !important;">LiGHT Sindri</a>
                </h1>
                <hr class="my-4">
                <p class="lead">
                    After Visiting DAV TASRA School,Sindri We found that Many of the Benches donot have Screws,
                    which tend
                    to either slide or come off their metal frame altogether making it difficult for the students to
                    sit or write on
                    them,Some fans were not working and there were no light bulbs in most classes. The condition of
                    Blackboards in some classes is abysmal.
                    To help the Students and solve this major problem, LiGHT Sindri decided to provide and repair
                    Electrical
                    appliances,Benches and Blackboards. We (LiGHT Sindri) are raising funds for this noble cause and
                    we
                    need your support to achieve this.
                    Let&#8217;s come together and join LiGHT Sindri in this initiative.
                    Donate as you wish
                    To fulfill someone's needs.




                </p>

                <div class="text-center">
                    <form>
                        <script src="https://checkout.razorpay.com/v1/payment-button.js"
                            data-payment_button_id="pl_Kdc6fIoxoPKUCo" async> </script>
                    </form>
                </div>



            </div>
            <!-- <div class="col-md-5 col-sm-12 col-lg-4 mx-auto mr-auto " style="padding : 10px; font-size: 20px;">
                    <img src="/gyws/assets/img/LiGHT_donate/LiGHT_Raipur.png" alt="" style="width:100%">
                </div> -->



        </div>



    </div>

    <div class="jumbotron Light_donate" style="padding-top: 0; padding-bottom: 0;">
        <div class="row">
            <div class="col-md-7 col-sm-12 col-lg-8 mx-auto mr-auto mt-auto mb-auto"
                style="padding : 10px; font-size: 20px;">
                <h1 class="display-5">Fundraiser to provide winter clothes to ragpickers of Raipur<br> <a
                        href="https://light.gyws.org/center_raipur"
                        style="text-decoration:none; color:black !important;">LiGHT Raipur</a>
                </h1>

                <hr class="my-4">
                <p class="lead">
                    Rag pickers are everywhere on the street.
                    Homelessness makes you fight for survival.
                    They can be found suffering individually or in groups. Routinely interacting with unhygienic
                    spots
                    and sicknesses conveying articles, everyday life is harsh for them.
                    Winter season can be considered extremely harsh for them as roaming and sleeping on the
                    streets is very unsafe for wellbeing.
                    A group of about 50 rag pickers has made their temporary stay close to our college. They have
                    no one to call for help. To make them feel supported and assist them with enduring the colder
                    time of year calmly, we are going to distribute warm clothes to them.
                    So let's come together in this ordeal by joining our initiative.
                    Donate as much as you wish.
                    Help us spread your positivity and warmth to them.
                </p>




                <div class="text-center">
                    <form>
                        <script src="https://checkout.razorpay.com/v1/payment-button.js"
                            data-payment_button_id="pl_KegrXppu2TtQT6" async> </script>
                    </form>
                </div>

            </div>
            <!-- <div class="col-md-5 col-sm-12 col-lg-4 mx-auto mr-auto " style="font-size: 20px; padding-bottom: 0;">
                    <br>
                    <img src="/gyws/assets/img/LiGHT_donate/LiGHT_Thatipur.jpg" alt=""
                        style="width:100%; height:90%">
                </div> -->



        </div>
    </div>
    <div class="fetchfooter">

    </div>
    <script src="../fetch.js" type='text/javascript'></script>
    <script>

        function ReadmoreFunction() {
            var dots = document.getElementById("dots");
            var moreText = document.getElementById("more");
            var btnText = document.getElementById("readmore_button");

            if (dots.style.display === "none") {
                dots.style.display = "inline";
                btnText.innerHTML = "Read more";
                moreText.style.display = "none";
            } else {
                dots.style.display = "none";
                btnText.innerHTML = "Read less";
                moreText.style.display = "inline";
            }
        }

        function ReadmoreFunction2() {
            var dots2 = document.getElementById("dots2");
            var moreText2 = document.getElementById("more2");
            var btnText2 = document.getElementById("readmore_button2");

            if (dots2.style.display === "none") {
                dots2.style.display = "inline";
                btnText2.innerHTML = "Read more";
                moreText2.style.display = "none";
            } else {
                dots2.style.display = "none";
                btnText2.innerHTML = "Read less";
                moreText2.style.display = "inline";
            }
        }




        // let donate = document.getElementById('donate_form');
        // // let formData = new FormData(donate.months.value);

        // console.log(document.getElementById('duration').value);
    </script>

    <br>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>