@media screen and (max-width: 480px) {
  .headingTxt {
    margin-top: 20vw;
 }
.initiativesHeading{
    margin: 0;
    font-size: 2.25rem;
    font-weight: 500;
    font-family: Nunito, sans-serif;
    letter-spacing: 8px;
  }
.initiativeBtn {
  text-transform: uppercase;
  font-size: 0.9rem;
  padding: 1.5vh 2vw;
  color: rgb(53, 58, 65);
  border: none;
  box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.3);
  font-weight: 600;
  transition-property: linear-gradient;
  transition-duration: 1s;
  border-radius: 0.5rem;
  background-color: #f1f1f1;
  cursor: pointer;
}
}

@media screen and (min-width: 480px) and (max-width: 992px) {
  .headingTxt {
    margin-top: 57.6px;
 }
.initiativesHeading{
    margin: 0;
    font-size: 2.25rem;
    font-weight: 500;
    font-family: Nunito, sans-serif;
    letter-spacing: 10px;
    padding: 1rem 0rem 0.5rem 0rem;
  }
.initiativeBtn {
  text-transform: uppercase;
  font-size: 0.9rem;
  padding: 0.7rem 1.5rem;
  color: rgb(53, 58, 65);
  border: none;
  box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.3);
  font-weight: 600;
  transition-property: linear-gradient;
  transition-duration: 1s;
  border-radius: 0.5rem;
  background-color: #f1f1f1;
  cursor: pointer;
}
}
@media screen and (min-width: 992px) and (max-width: 1020px) {
  .headingTxt {
    margin-top: 125px;
 }
.initiativesHeading{
    margin: 0;
    font-size: 2.25rem;
    font-weight: 500;
    font-family: Nunito, sans-serif;
    letter-spacing: 10px;
    padding: 1rem 0rem 0.5rem 0rem;
  }
.initiativeBtn {
  text-transform: uppercase;
  font-size: 0.9rem;
  padding: 0.7rem 1.5rem;
  color: rgb(53, 58, 65);
  border: none;
  box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.3);
  font-weight: 600;
  transition-property: linear-gradient;
  transition-duration: 1s;
  border-radius: 0.5rem;
  background-color: #f1f1f1;
  cursor: pointer;
}
}
@media screen and (min-width: 1020px) and (max-width: 1200px) {
  .headingTxt {
    margin-top: 9vw;
 }
.initiativesHeading{
    margin: 0;
    font-size: 2.25rem;
    font-weight: 500;
    font-family: Nunito, sans-serif;
    letter-spacing: 10px;
    padding: 1rem 0rem 0.5rem 0rem;
  }
.initiativeBtn {
  text-transform: uppercase;
  font-size: 0.9rem;
  padding: 0.7rem 1.5rem;
  color: rgb(53, 58, 65);
  border: none;
  box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.3);
  font-weight: 600;
  transition-property: linear-gradient;
  transition-duration: 1s;
  border-radius: 0.5rem;
  background-color: #f1f1f1;
  cursor: pointer;
}

}
@media screen and (min-width: 1200px) {
  .headingTxt {
    margin-top: 130px;
 }
.initiativesHeading{
    margin: 0;
    font-size: 2.25rem;
    font-weight: 500;
    font-family: Nunito, sans-serif;
    letter-spacing: 10px;
    padding: 1rem 0rem 0.5rem 0rem;
  }
.initiativeBtn {
  text-transform: uppercase;
  font-size: 0.9rem;
  padding: 0.7rem 1.5rem;
  color: rgb(53, 58, 65);
  border: none;
  box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.3);
  font-weight: 600;
  transition-property: linear-gradient;
  transition-duration: 1s;
  border-radius: 0.5rem;
  background-color: #f1f1f1;
  cursor: pointer;
}

}
#initiativeBtns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 4vh 0;
}
.active,
.initiativeBtn:hover {
  background-image: linear-gradient(to right, #fee180 0%, #fec301 100%);
  color: white;
}
.initiativeBtn2 {
  text-transform: uppercase;
  font-size: 0.9rem;
  padding: 0.7rem 1.5rem;
  color: rgb(53, 58, 65);
  border: none;
  box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.3);
  font-weight: 600;
  transition-property: linear-gradient;
  transition-duration: 1s;
  border-radius: 0.5rem;
  background-image: linear-gradient(to right, #fec301 0%, #fee180 100%);
  cursor: pointer;
}
.initiativeBtn2:hover {
  background-image: linear-gradient(to right, #fee180 0%, #fec301 100%);
  color: white;
}
#content{
    padding: 0 8vw;
    text-align: justify;
}
