h1 {
  padding-bottom: 25px;
  padding-top: 25px;
}
body {
  background-image: "<%=baseurl%>gyws/assets/img/YUVA_whyjoin/background.jpg";
  font-family: 'Roboto Serif', sans-serif ;
}
#hero {
  width: 100%;
  height: 70vh;
  /* background: url(../img/hero-bg.jpg) top center; */

  position: relative;
}



#hero:before {
  content: "";
  background: #21201e;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 30px;
  right: 0;
  display: flex;
  justify-content: ;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
  background-color: #21201e;
  height: max-content;
  font-family: 'Roboto Serif', sans-serif;
}

@media (max-width: 991px) {
  #hero .hero-container {
    top: 50px;
  }
}

#hero h1 {
  color: #fff;
  font-family: 'Roboto Serif', sans-serif;
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
}



#hero h1 span {
  color: #f82249;
}

@media (max-width: 991px) {
  #hero h1 {
    font-size: 2.5rem;
  }
}

#hero p {
  color: #ebebeb;
  font-weight: 700;
  font-size: 20px;
}

@media (max-width: 991px) {
  #hero p {
    font-size: 16px;
  }
}

.about-btn {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 2px solid #fed136;
}

.about-btn:hover {
  background: #fed136 !important;
  color: #fff;
}

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}
#about {
  /* background: url("../img/about-bg.jpg"); */
  background-size: cover;
  overflow: hidden;
  position: relative;
  color: ;
  padding: 60px 0 40px 0;
}

@media (min-width: 1024px) {
  #about {
    background-attachment: fixed;
  }
}

#about:before {
  content: "";
  background: ;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#about h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  color: ;
}

#about h3 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: ;
}

#about p {
  font-size: 14px;
  margin-bottom: 20px;
  color: ;
}
@@import "https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css";

@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

#compe * {
  margin: 0;
  padding: 0;
}

#compe {
width: 100%;

/* background: url(greybg1.jpg) top center; */
background-size: cover;
overflow: hidden;
position: relative;
}

#compe h1 {
color: #626869;
font-family: "Raleway", sans-serif;
font-size: 56px;
font-weight: 600;
text-transform: uppercase;
}

#compe html {
  box-sizing: content-box;
  font-size: 12.5%;
}

.container{
  margin-top: 110px !important;
}

#compe .card{
  border: none;
  outline: none;
  background-color: #CACFD2;
  border-radius: 20px;


}

#compe .card-img {
  display: block;
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-radius: 15px 15px 15px 15px;
}

.card-img-new {
  display: block;
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-radius: 15px 15px 15px 15px;
}




 .card:hover{
   transform: translateY(-0.5%);
   box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
 }

 #compe .card-content {
   padding: 2rem;
 }

 #compe .card-header {
   font-size: 20px;
   font-weight: 500;
   color: #0d0d0d;
   margin-bottom: 1.5rem;
 }
 #compe .card-text {
   font-size: 14px;
   letter-spacing: 0.1rem;
   line-height: 1.7;
   color: #3d3d3d;
   margin-bottom: 2.5rem;
 }

 #compe .card-btn {
   display: block;
   width: 100%;
   padding: 1.5rem;
   font-size: 14px;
   text-align: left;
   color: #21201e;
   background-color: #d8e0fd;
   border: none;
   border-radius: 0.4rem;
   transition: 0.2s;
   cursor: pointer;
   letter-spacing: 0.1rem;
 }

 #compe .card-btn span {
   margin-left: 1rem;
   transition: 0.2s;
 }

 #compe.card-btn:hover,
 #compe.card-btn:active {
   background-color: #fed136;
 }

 #compe.btn:hover,
 #compe.btn:active {
   background-color: #fed136;
 }

 #compe .card-btn:hover span,
 #compe.card-btn:active span {
   margin-left: 1.5rem;
 }
 #compe .modal-open {
	filter: blur(5px);
	-webkit-filter: blur(5px);
}
@media screen and (max-width: 600px){
	#compe .shape{
		clip-path: inset(0% 0% 83% 0%);
		-webkit-clip-path: inset(0% 0% 83% 0%);
	}
}
@@import "https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css";

@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

#events * {
  margin: 0;
  padding: 0;
}

#events {
width: 100%;

/* background: url(greybg1.jpg) top center; */
background-size: cover;
overflow: hidden;
position: relative;
}

#events h1 {
color: black;
/* font-family: "Raleway", sans-serif; */
font-size: 56px;
font-weight: 600;

}

#whyus h1 {
  color: black;
  /* font-family: "Raleway", sans-serif; */
  font-size: 56px;
  font-weight: 600;
  
  }

#events html {
  box-sizing: content-box;
  font-size: 12.5%;
}

.container{
  margin-top: 110px !important;
}

#events.card{
  border: none;
  outline: none;
  background-color: #CACFD2;
  border-radius: 20px;
  height: 20rem;


}
/* #events .card-tech{
  background-color: rgba(242, 106, 54,0.5);
  


} */

#events.card-img {
  display: block;
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-radius: 15px 15px 15px 15px;
}

#events .border{
  border-radius: 1rem;
}

 .card-tech:hover{
   transform: translateY(-0.5%);
   box-shadow: 0 4rem 8rem rgba(242, 106, 54, 0.8);
 }

 .card-adh:hover{
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(8, 160, 197, 0.8);
}

.card-uplift:hover{
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(249, 238, 52, 0.8);
}

.card-chaos:hover{
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(115, 196, 143, 0.9);
}

.card-magazine:hover{
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(105, 94, 145, 0.8);
}

#events .event_text{
  padding: 1rem !important;
}
 #events.card-content {
   padding: 2rem;
 }

 #events.card-header {
   font-size: 20px;
   font-weight: 500;
   color: #0d0d0d;
   margin-bottom: 1.5rem;
 }
 #events.card-text {
   font-size: 14px;
   letter-spacing: 0.1rem;
   line-height: 1.7;
   color: black;
   margin-bottom: 2.5rem;
 }

 #events .card-btn {
   display: block;
   width: 100%;
   padding: 1.5rem;
   font-size: 14px;
   text-align: left;
   color: #21201e;
   /* background-color: #d8e0fd; */
   border: none;
   border-radius: 0.4rem;
   transition: 0.2s;
   cursor: pointer;
   letter-spacing: 0.1rem;
 }

 #events .card-btn span {
   margin-left: 1rem;
   transition: 0.2s;
 }

 #events .card-btn:hover,
 #events .card-btn:active {
   background-color: #ffffff;
 }

 #events .btn:hover,
 #eents .btn:active {
   background-color: #ffffff;
 }

 #events .card-btn:hover span,
 #events .card-btn:active span {
   margin-left: 1.5rem;
 }
 #events .modal-open {
	filter: blur(5px);
	-webkit-filter: blur(5px);
}
@media screen and (max-width: 600px){
	#events .shape{
		clip-path: inset(0% 0% 83% 0%);
		-webkit-clip-path: inset(0% 0% 83% 0%);
	}
}

/* Footer */


  
  /* Prelaoder */
  
  #preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
  }
  
  #preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #f2f2f2;
    border-top: 6px solid #18d26e;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
  }
  
  @-webkit-keyframes animate-preloader {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-preloader {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  


  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  
  #header {
    padding: 30px 0;
    height: 92px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
    color: #fff !important;
  }
  
  #header.header-scrolled {
    background: rgba(0, 0, 0, 0.9);
    padding: 20px 0;
    height: 72px;
    transition: all 0.5s;
  }
  
  #header #logo {
    float: left;
  }
  
  #header #logo h1 {
    font-size: 34px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
  }
  
  #header #logo h1 a,
  #header #logo h1 a:hover {
    color: #fff;
    padding-left: 10px;
    border-left: 4px solid #18d26e;
  }
  
  #header #logo img {
    padding: 0;
    margin: 0;
  }
  
  /*--------------------------------------------------------------
  # Intro Section
  --------------------------------------------------------------*/
  
  #intro {
    display: table;
    width: 100%;
    height: 100vh;
    background: #000;
  }
  
  #intro .carousel-item {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  #intro .carousel-item::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  
  #intro .carousel-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #intro .carousel-background img {
    max-width: 100%;
  }
  
  #intro .carousel-content {
    text-align: center;
  }
  
  #intro h2 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 700;
  }
  
  #intro p {
    width: 80%;
    margin: 0 auto 30px auto;
    color: #fff;
  }
  
  #intro .carousel-fade {
    overflow: hidden;
  }
  
  #intro .carousel-fade .carousel-inner .carousel-item {
    transition-property: opacity;
  }
  
  #intro .carousel-fade .carousel-inner .carousel-item,
  #intro .carousel-fade .carousel-inner .active.carousel-item-left,
  #intro .carousel-fade .carousel-inner .active.carousel-item-right {
    opacity: 0;
  }
  
  #intro .carousel-fade .carousel-inner .active,
  #intro .carousel-fade .carousel-inner .carousel-item-next.carousel-item-left,
  #intro .carousel-fade .carousel-inner .carousel-item-prev.carousel-item-right {
    opacity: 5;
    transition: 0.5s;
  }
  
  #intro .carousel-fade .carousel-inner .carousel-item-next,
  #intro .carousel-fade .carousel-inner .carousel-item-prev,
  #intro .carousel-fade .carousel-inner .active.carousel-item-left,
  #intro .carousel-fade .carousel-inner .active.carousel-item-right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  
  #intro .carousel-control-prev,
  #intro .carousel-control-next {
    width: 10%;
  }
  
  #intro .carousel-control-next-icon,
  #intro .carousel-control-prev-icon {
    background: none;
    font-size: 32px;
    line-height: 1;
  }
  
  #intro .carousel-indicators li {
    cursor: pointer;
  }
  
  #intro .btn-get-started {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 9px 37px;
    border-radius: 54px;
    transition: 0.5s;
    margin: 10px;
    color: #fff;
    background: #1dd674;
  }
  
  #intro .btn-get-started:hover {
    background: #fff;
    color: #23df7b;
  }
  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  
  /* Nav Menu Essentials */
  
  .nav-menu,
  .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
  }
  
  .nav-menu li {
    position: relative;
    white-space: nowrap;
  }
  
  .nav-menu > li {
    float: left;
  }
  
  .nav-menu li:hover > ul,
  .nav-menu li.sfHover > ul {
    display: block;
  }
  
  .nav-menu ul ul {
    top: 0;
    left: 100%;
  }
  
  .nav-menu ul li {
    min-width: 180px;
  }
  
  /* Nav Menu Arrows */
  
  .sf-arrows .sf-with-ul {
    padding-right: 30px;
  }
  
  .sf-arrows .sf-with-ul:after {
    content: "\f107";
    position: absolute;
    right: 15px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
  }
  
  .sf-arrows ul .sf-with-ul:after {
    content: "\f105";
  }
  
  /* Nav Meu Container */
  
  #nav-menu-container {
    float: right;
    margin: 0;
  }
  
  /* Nav Meu Styling */
  
  .nav-menu a {
    padding: 0 8px 10px 8px;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    outline: none;
  }
  
  .nav-menu li:hover > a,
  .nav-menu > .menu-active > a {
    color: #18d26e;
  }
  
  .nav-menu > li {
    margin-left: 10px;
  }
  
  .nav-menu ul {
    margin: 4px 0 0 0;
    padding: 10px;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    background: #fff;
  }
  
  .nav-menu ul li {
    transition: 0.3s;
  }
  
  .nav-menu ul li a {
    padding: 10px;
    color: #333;
    transition: 0.3s;
    display: block;
    font-size: 13px;
    text-transform: none;
  }
  
  .nav-menu ul li:hover > a {
    color: #18d26e;
  }
  
  .nav-menu ul ul {
    margin: 0;
  }
  
  /* Mobile Nav Toggle */
  
  #mobile-nav-toggle {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    margin: 20px 20px 0 0;
    border: 0;
    background: none;
    font-size: 24px;
    display: none;
    transition: all 0.4s;
    outline: none;
    cursor: pointer;
  }
  
  #mobile-nav-toggle i {
    color: #fff;
  }
  
  /* Mobile Nav Styling */
  
  #mobile-nav {
    position: fixed;
    top: 0;
    padding-top: 18px;
    bottom: 0;
    z-index: 998;
    background: rgba(0, 0, 0, 0.8);
    left: -260px;
    width: 260px;
    overflow-y: auto;
    transition: 0.4s;
  }
  
  #mobile-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  #mobile-nav ul li {
    position: relative;
  }
  
  #mobile-nav ul li a {
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    overflow: hidden;
    padding: 10px 22px 10px 15px;
    position: relative;
    text-decoration: none;
    width: 100%;
    display: block;
    outline: none;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
  }
  
  #mobile-nav ul li a:hover {
    color: #18d26e;
  }
  
  #mobile-nav ul li li {
    padding-left: 30px;
  }
  
  #mobile-nav ul li.menu-active a {
    color: #18d26e;
  }
  
  #mobile-nav ul .menu-has-children i {
    position: absolute;
    right: 0;
    z-index: 99;
    padding: 15px;
    cursor: pointer;
    color: #fff;
  }
  
  #mobile-nav ul .menu-has-children i.fa-chevron-up {
    color: #18d26e;
  }
  
  #mobile-nav ul .menu-has-children li a {
    text-transform: none;
  }
  
  #mobile-nav ul .menu-item-active {
    color: #18d26e;
  }
  
  #mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: 997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    display: none;
  }
  
  /* Mobile Nav body classes */
  
  body.mobile-nav-active {
    overflow: hidden;
  }
  
  body.mobile-nav-active #mobile-nav {
    left: 0;
  }
  
  body.mobile-nav-active #mobile-nav-toggle {
    color: #fff;
  }
  
  /*--------------------------------------------------------------
  # Sections
  --------------------------------------------------------------*/
  
  /* Sections Header
  --------------------------------*/
  
  .section-header h3 {
    font-size: 32px;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    position: relative;
    padding-bottom: 15px;
  }
  
  
  
  .section-header p {
    text-align: center;
    padding-bottom: 30px;
    color: #333;
  }
  


  
 
  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
  
  
  /*--------------------------------------------------------------
  # Responsive Media Queries
  --------------------------------------------------------------*/
  
  @media (min-width: 768px) {
    #contact .contact-address,
    #contact .contact-phone,
    #contact .contact-email {
      padding: 20px 0;
    }
  
    #contact .contact-phone {
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
    }
  }
  
  @media (min-width: 992px) {
    #testimonials .testimonial-item p {
      width: 80%;
    }
  }
  
  @media (min-width: 1024px) {
    #header #logo {
      padding-left: 60px;
    }
  
    #intro p {
      width: 60%;
    }
  
    #intro .carousel-control-prev,
    #intro .carousel-control-next {
      width: 5%;
    }
  
    #nav-menu-container {
      padding-right: 60px;
    }
  }
  
  @media (max-width: 768px) {
    .back-to-top {
      bottom: 15px;
    }
  
    #header #logo h1 {
      font-size: 28px;
    }
  
    #header #logo img {
      max-height: 40px;
    }
  
    #intro h2 {
      font-size: 28px;
    }
  
    #nav-menu-container {
      display: none;
    }
  
    #mobile-nav-toggle {
      display: inline;
    }
  }
  
  
  .myDiv {
    background-color: black;
    color: white;
    display: none;
      z-index:10000;
  }
  
  #mapdiv{
    z-index: 1
  }
  .mark-text{
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  
    color: white;
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  .top-cap{
    top:50% !important;
    bottom: auto;
  
  }

.footer-top{
  background-color: #21201e;
  color: white;
  padding-top: 2rem;
}

#footer .container-fluid{
  background-color: #21201e;
  color: white;
}

.footer-hr{
  border-color: white;
}


@media (min-width: 720px) {
  .img_2{
    margin-left: 20%;
  }
  
  .img_4{
    margin-left: 20%;
  }
  .img_6{
    margin-left: 20%;
  }
}

@media (max-width: 720px){
  .image_whyus{
    width: 100%;
  }
}