.container-slider{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7px; 
    padding: 7px;
  }
  .sliderContainer{
      height: 400px;
      position: relative;
  }
  @media (max-width:500px) {
    .sliderContainer{
        height: 300px;
        position: relative;
    }
    .slider-card{
        padding: 0px 5px;
    }
  }

  .container-slider-heading{
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;
   
  } 
  
  .slider-card{
        /* width: auto; */
        height: 250px;
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-decoration: none;
        color: black;
  }
  
  @media (min-width:1500px){
      .slider-card{
          /* margin: auto;
          width: 150px; */
          height: 350px;
      }
  
  }
  
  .slider-card img{
      width: 100%;
      /* height: 100%; */
      padding: 2px;
      margin: 5px;
  }
  @media (min-width:500px) and (max-width:1000px){
    .slider-card img{
        width: 100%;
        /* height: 100%; */
        padding: 1px;
        margin: 1px;
    }
  }
  @media (max-width:500px){
    .slider-card img{
        width: 80%;
        height: 80%;
        padding: 1px;
        margin: 1px;
    }
  }
  
  
  .slick-prev, .slick-next{
      display: none !important;
  }